<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Website</title>
    <style>
      .navbar {
        background-color: rgb(2, 15, 44) !important;
        color: white !important;
        margin-bottom: 20px; /* Adjust margin bottom to move navbar up */
      }

      .navbar-nav {
        margin-left: auto; /* Move the navbar items to the right */
      }

      .nav-item {
        margin-right: 10px; /* Adjust the gap between navigation links */
      }

      .nav-link {
        color: white !important; /* Change link color */
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Youtube Analyzer</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/api/videos/views/subscription"
              >Subscription</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/videos/Introduction to AI"
              >Comments <span></span
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/videos/frequentUser"
              >Frequent Users</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- Your content goes here -->

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
